<div class="container flex-row">
  <force-horse #fh></force-horse>

  <div class="external-console flex-column">
    <div>
      <div id="top-info">
        <h3>Random Graph</h3>
        <div class="flex-row">
          <input type="text" pattern="\d+" [(ngModel)]="numOfNodes" size="4"
                 title="Number of nodes to generate"/>
          <input type="range" [(ngModel)]="numOfNodes" min="10" max="1000" title="Number of nodes to generate"/>
          <div>
            <input type="checkbox" id="scale-free" [(ngModel)]="isScaleFree"/>
            <label for="scale-free">Scale Free</label>
          </div>
          <button (click)="createRandomGraph()">Create</button>
        </div>
      </div>

      <hr/>

      <div id="randomize" class="flex-row">
        <input type="checkbox" id="is-randomize" [(ngModel)]="randomizeColors"/>
        <label for="is-randomize">Randomize colors and shapes</label>
      </div>

      <hr/>

      <div id="predefined" class="flex-row">
        <label for="predefined-file">Predefined demo files:</label>
        <select id="predefined-file" [(ngModel)]="predefinedFile"
                (change)="createGraphFromPredefinedFile()">
          <option *ngFor="let fileName of config.PREDEFINED_FILES" [value]="fileName">
            {{fileName}}
          </option>
        </select>
      </div>

      <hr/>

      <div id="local" class="flex-row">
        <label for="local-file">Custom file:</label>
        <input id="local-file" type="file" (change)="createGraphFromFile($event)"/>
      </div>
    </div>
    <div id="bottom-info" class="flex-row" *ngIf="viewer">
      <div class="flex-column">
        <h3>Nodes</h3>
        <div class="list">
          <div class="item flex-row">
            <div class="id">ID</div>
            <div class="label">Label</div>
          </div>
          <div class="item flex-row" *ngFor="let node of visibleNodes"
               [ngClass]="{hovered: node.hovered, selected: node.selected}"
               (click)="onClick($event, node)"
               (mouseenter)="onHoverInside(node, true)"
               (mouseleave)="onHoverInside(node, false)">
            <div class="id">{{node.id}}</div>
            <div class="label">{{node.label}}</div>
          </div>
        </div>
      </div>

      <div class="flex-column">
        <h3>Edges</h3>
        <div class="list">
          <div class="item flex-row">
            <div class="id">ID</div>
            <div class="source">Source</div>
            <div class="target">Target</div>
          </div>
          <div class="item flex-row" *ngFor="let edge of visibleEdges"
               [ngClass]="{hovered: edge.hovered, selected: edge.selected}"
               (click)="onClick($event, edge)"
               (mouseenter)="onHoverInside(edge, true)"
               (mouseleave)="onHoverInside(edge, false)">
            <div class="id">{{edge.id}}</div>
            <div class="source">{{edge.sourceLabel}}</div>
            <div class="target">{{edge.targetLabel}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


